@import "../../node_modules/normalize.css/normalize.css";
@import "./reset.css";
@import "./variables.css";

#wrap {
  padding: 1em;
  background: var(--curious-blue-color);
  margin: 0 auto;
  width: 100%;
}

bp-carousel .item {
  cursor: pointer;
  background: var(--white-color);
  color: var(--curious-blue-color);
  font-size: 36px;
  position: relative;
  text-align: center;
  margin: 10px;
  line-height: 100px;
  width: 187px;
  height: 187px;
}

bp-carousel .item img {
  max-width: 100%;
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  bp-carousel .item {
    font-size: 18px;
    line-height: 50px;
    width: 430px;
    height: 90px;
  }

  bp-carousel .item img {
    width: 25px;
    height: 25px;
  }
}
